html,
body {
  background-color: black;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  perspective: 3px;
}
.image {
  background-position: center center;
  transform: translateZ(-2px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: cover;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
  height: 100vh;
}
.heading {
  z-index: -1;
  transform: translateY(-30vh) translateZ(1px) scale(1.5);
}
.text {
  height: 50vh;
}
section {
  background-size: cover;
  color: white;
  background-color: var(--bg, --color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  
  position: relative;
  display: block;
  background-color: black;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  font-weight: normal;
  color: var(--color-blue);
}